* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
}
.container-wrapper {
	margin-top: 5rem;
}
.logo-slider {
	overflow: hidden;
}
.logos {
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	width: 10%;
	object-fit: contain;
	aspect-ratio: 3/2;
	margin-inline: 2.5rem;
}
